

{% extends "main_template.html" %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='activities.js') }}" ></script>
{% endblock %}



<!-- Fill in the Middle template -->
{% block middle %}

<div>
  
  <button id="AddNewActivity" > Add New Activity </button>

  <div id="NewActivityDiv" >

    <button id="CancelNewActivity" > Cancel New Activity </button>

    {% include 'activity_form.html' %}
    <!--
    <form id="ActivityForm" >
      <fieldset>
	<legend>Add an activity:</legend>

	<label class="required" accesskey="f">Activity Name: </label>
	<input type="text" id="activity_name" name="activity_name" tabindex="1" value="" title="activity name"><br>

	<label class="required" accesskey="l">Type:  </label>
	<input type="text" id="type" name="type" tabindex="2" title="type"><br>
	
	<label accesskey="e">Borough: </label>
	<input type="text" id="borough" name="borough" tabindex="3" title="borough"><br>

	<label accesskey="e">Address: </label>
	<input type="text" id="address" name="address" tabindex="3" title="address"><br>

	<label accesskey="e">Comment: </label>
	<textarea  name="comment"  id="comment"  rows="5" style="text-align: left" onKeyDown="limitText(this.form.msg,this.form.countdown,140);" 
		   cols="30"  onKeyUp="limitText(this.form.msg,this.form.countdown,140);" > </textarea> 
      </fieldset>
    </form>
    -->
    <button id="SubmitActivity" > Submit Activity </button>
    <br>

  </div>

  <br>

    Number of Activities:
    <select id="num_activities" style="margin-right: 10px;" >
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>

    <br>

    Borough: 
    <form style="width: 100px;" >
      <input type="text" name="Borough" value="" />
    </form>

    <br>

  <button id="RefreshActivityList" > Refresh </button>


  <!-- Stop the "float:left" -->
  <div style="clear:both;"></div>

  <br>
  <div id="activity_list" style="margin-top: 20px;">
    <!-- Use the activity_list template -->
    {% include 'activity_list.html' %}
  </div>


</div>

{% endblock %}

